/* downloaded from https://rokaweb.ir */
@font-face {
	font-family: 'Yekan';
	src: url( 'assets/fonts/Yekan.eot' );
	src: url( 'assets/fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( 'assets/fonts/Yekan.woff2' ) format( 'woff2' ),
		url( 'assets/fonts/Yekan.woff' ) format( 'woff' ),
		url( 'assets/fonts/Yekan.ttf' ) format( 'truetype' ),
		url( 'assets/fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'Yekan', sans-serif;
}

a {
    text-decoration: none !important;
  }

.center-block {
    width: 50%; /* Or any width you need */
    margin: 0 auto;
}

.center-inline-container {
    text-align: center;
}

.center-inline-container img {
    display: inline-block;
}

.center-inline-container {
    text-align: center;
}

.center-inline-container img {
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    justify-content: center;
}


.absolute-center-container {
    position: relative;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
